.toufu-bg-box {
    position: relative;
}

.toufu-bg-img{
    height: 95vh;
}

.font-white {
    color: white;
}

.font-bold {
    font-weight: bold;
}

.toufu-fixed-bg {
    position: relative;
    height: 75vh;
    background-attachment: fixed;
    z-index: 2;
}

.toufu-1st-bg {
    background-color: rgb(242, 229, 191);
}

.toufu-2nd-bg {
    background-color: rgb(167, 181, 242);
}

.toufu-3rd-bg {
    background-color: rgb(212, 242, 211);
}

.toufu-font-subtitle {
    font-size: x-small;
    margin-bottom: 0px;
}

.toufu-font-xl {
    font-size: x-large;
}

.font-bold {
    font-weight: bold;
}

.card-bottom-margin {
    margin-bottom: 2rem;
}

.card {
    border-radius: 1rem;
}

.card-img-top {
    border-radius: 1rem 1rem 0rem 0rem;
}

.card-img-border {
    border-radius: 1rem;
}

.toufu-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.toufu-jumbo-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.toufu-jumbo-cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
}

.img-m-bottom {
    margin-bottom: 0rem;
}

.img-padding {
    padding: 0.2rem;
}
